SEED_SUPER_ADMIN_EMAIL="mail@example.com"
SEED_SUPER_ADMIN_PASSWORD="password"


// Here is the sample template if you want to add PayMongo API keys.
PAYMONGO_SECRET_KEY=sk_test_1234567890abcdef
PAYMONGO_PUBLIC_KEY=pk_test_1234567890abcdef

